<% provide :title, t(".password_reset") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 password_user_pass">
    <h1 class="text-center"><%= t ".password_reset" %></h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email, t(".email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
