<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="orders">
      <tr>
        <th><%= t "index" %></th>
        <th><%= t ".product" %></th>
        <th><%= t ".order_date" %></th>
        <th><%= t ".quantity" %></th>
      </tr>
      <% @items.each.with_index 1 do |item, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= link_to item.product.name, product_path(item.product_id) %></td>
          <td><%= l item.created_at, format: :short %></td>
          <td><%= item.quantity %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
