<h4 class="title_signup"><%= t "sign_up" %></h4>
<%= form_for @user, remote: true do |f| %>
  <div class="show_error">
    <ul></ul>
  </div>

  <%= f.label :name, t(".name") %> <span class="red-req">*</span>
  <%= f.text_field :name, :required => true, class: "form-control" %>

  <%= f.label :email, t(".email") %> <span class="red-req">*</span>
  <%= f.email_field :email, :required => true, class: "form-control" %>

  <%= f.label :phone_number, t(".phone_number") %> <span class="red-req">*</span>
  <%= f.text_field :phone_number, :required => true, class: "form-control" %>

  <%= f.label :address, t(".address") %> <span class="red-req">*</span>
  <%= f.text_field :address, :required => true, class: "form-control" %>

  <%= f.label :password, t(".password") %> <span class="red-req">*</span>
  <%= f.password_field :password, :required => true, class: "form-control" %>

  <%= f.label :password_confirmation, t(".password_confirmation") %> <span class="red-req">*</span>
  <%= f.password_field :password_confirmation, :required => true, class: "form-control" %>

  <%= f.submit t(".register"), class: "btn btn-primary form-control" %>
<% end %>
<button type="button" class="btn btn-default close-modal" data-dismiss="modal"><%= t "x" %></button>
