<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="order">
      <tr>
        <th><%= t ".number_order" %></th>
        <th><%= t ".date" %></th>
        <th><%= t ".status" %></th>
      </tr>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to "##{order.id}", order_path(order.id) %></td>
          <td><%= l order.created_at, format: :short %></td>
          <td><%= order.status %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
