<tr>
  <td><%= product.name %></td>
  <td><%= product.describe %></td>
  <td><%= number_to_currency product.price, unit: "", precision: 0 %></td>
  <% product.images.each do |pro| %>
    <td><%= image_tag pro.picture, size: Settings.update_picture.max_size %></td>
  <% end %>
  <td><%= product.feature %></td>
  <td><%= product.RAM %></td>
  <td><%= product.screen %></td>
  <td><%= product.hard_disk %></td>
  <td><%= product.status %></td>
  <td>
    <%= link_to edit_admin_product_path product do %>
      <i class="fa fa-edit"></i>
    <% end %>
  </td>
</tr>
