<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><%= link_to t("home"), root_url %></li>
      <li><a href="#"><%= t "product" %></a></li>
      <li><a href="#"><%= t "category" %></a></li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div id="aside" class="col-md-3">
        <div class="aside">
          <h3 class="aside-title"><%= t "ram" %></h3>
          <ul class="size-option option-rams">
            <li>
              <%= link_to "#", class: "button-ram" do %>
                <span><%= t ".32gb" %></span>
                <%= hidden_field_tag :ram, Settings.inputs.max_ram %>
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "button-ram" do%>
                <span><%= t ".16gb" %></span>
                <%= hidden_field_tag :ram, Settings.inputs.medium_ram %>
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "button-ram" do %>
                <span><%= t ".8gb" %></span>
                <%= hidden_field_tag :ram, Settings.inputs.low_ram %>
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "button-ram" do %>
                <span><%= t ".4gb" %></span>
                <%= hidden_field_tag :ram, Settings.inputs.min_ram %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="aside">
          <h3 class="aside-title"><%= t "screene" %></h3>
          <ul class="size-option option-hard-disk">
            <li>
              <%= link_to "#", class: "button-hard-disk" do %>
                <span><%= t ".ssd" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "button-hard-disk" do %>
                <span><%= t ".hhd" %></span>
              <% end %>
            </li>
          </ul>
          <%= form_tag(category_path(@products[0]["category_id"]), method: :get,
            remote: true) do %>
            <%= hidden_field_tag :sort, "", class: "value-sort" %>
            <%= hidden_field_tag :hard_disk, "", class: "value-hard-disk" %>
            <%= hidden_field_tag :ram, "", class: "value-ram" %>
            <%= submit_tag t(".filter"), class: "filter" %>
          <% end %>
        </div>
      </div>
      <div id="main" class="col-md-9">
        <div class="store-filter clearfix">
          <div class="pull-left">
            <div class="sort-filter">
              <span class="text-uppercase"><%= t "sort_by" %>:</span>
              <select class="input input-sort ">
                <option value=""></option>
                <option value="alphabet"><%= t ".alphabet" %></option>
                <option value="ascending"><%= t ".ascending" %></option>
                <option value="descending"><%= t ".descending" %></option>
              </select>
            </div>
          </div>
        </div>
        <div id="store">
          <div class="row">
            <div class="clearfix visible-md visible-lg"></div>
            <div class="show-category">
              <%= render "products/product", products: @products %>
            </div>
            <div class="clearfix visible-sm visible-xs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
