<div class="list_all_user">
  <%= form_tag(admin_users_path, method: :get) do %>
    <%= text_field_tag :user_search %>
    <%= submit_tag t "search" %>
  <% end %>
  <h2 class="text-center"><%= t ".list_user" %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th><%= t ".phone" %></th>
        <th><%= t ".address" %></th>
        <th><%= t ".delete" %></th>
      </tr>
    </thead>
    <tbody class="render">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.address %></td>
          <td class="text-center">
            <%= link_to admin_user_path(user), method: :delete, class: "font_icon", data: { confirm: t(".you_sure") } do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="pagination" class="text-center">
    <%= paginate @users, theme: "twitter-bootstrap-3" %>
  </div>
</div>
