<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#"><%= t "home" %></a></li>
      <li><a href="#"><%= t "product" %></a></li>
      <li><a href="#"><%= t "category" %></a></li>                
    </ul>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="product product-details clearfix">
        <div class="col-md-6">
          <div id="product-main-view">
            <div class="product-view">
              <img src="./img/main-product01.jpg" alt="">
            </div>
            <div class="product-view">
              <img src="./img/main-product02.jpg" alt="">
            </div>
            <div class="product-view">
              <img src="./img/main-product03.jpg" alt="">
            </div>
            <div class="product-view">
              <img src="./img/main-product04.jpg" alt="">
            </div>
          </div>
          <div id="product-view">
            <div class="product-view">
              <img src="./img/thumb-product01.jpg" alt="">
            </div>
            <div class="product-view">
              <img src="./img/thumb-product02.jpg" alt="">
            </div>
            <div class="product-view">
              <img src="./img/thumb-product03.jpg" alt="">
            </div>
            <div class="product-view">
              <img src="./img/thumb-product04.jpg" alt="">
            </div>
          </div>
        </div>
          <div class="col-md-6">
            <div class="product-body">
              <div class="product-label">
                <span><%= t "new" %></span>
              </div>
              <h2 class="product-name"><%= t "product_name" %></h2>
              <div>
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o empty"></i>
                </div>
                <a href="#"><%= t "review_add" %></a>
              </div>
              <p><strong><%= t "availability" %></strong><%= t "in_stock" %></p>
              <p><strong><%= t "brand" %></strong><%= t "e_shop" %></p>
              <p>Bộ bán hàng chuẩn: Sách hướng dẫn, Thùng máy, Adapter sạc, Pin</p>
              <div class="product-options">
                <ul class="size-option">
                  <li><span class="text-uppercase"><%= t "ram" %></span></li>
                  <li class="active"><a href="#">4GB</a></li>
                  <li><a href="#">8GB</a></li>
                  <li><a href="#">16GB</a></li>
                </ul>
                <ul class="color-option">
                  <li><span class="text-uppercase"><%= t "color" %></span></li>
                  <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                  <li><a href="#" style="background-color:#222222;"></a></li>
                  <li><a href="#" style="background-color:#EEEEEE"></a></li>
                  <li><a href="#" style="background-color:#FFFFFF;"></a></li>
                </ul>
              </div>                    
              <div class="product-btns">
                  <div class="qty-input">
                    <span class="text-uppercase"><%= t "qty" %></span>
                    <input class="input" type="number">
                  </div>
                  <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i><%= t "add_to_cart" %></button>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="product-tab">
              <ul class="tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1"><%= t "description" %></a></li>
                <li><a data-toggle="tab" href="#tab1"><%= t "detail" %></a></li>
                <li><a data-toggle="tab" href="#tab2"><%= t "review" %></a></li>
              </ul>
              <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active">
                  <p><%= t "nice" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
