<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><%= link_to t("home"), root_path %></li>
      <li><%= t "product" %></li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="product product-details clearfix">
        <div class="col-md-6">
          <div id="product-main-view">
            <% @product.images.each do |pro| %>
              <div class="product-view">
                <%= image_tag pro.picture %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-body">
            <div class="product-label">
              <span><%= t "detail" %></span>
            </div>
            <h2 class="product-name"><%= @product.name %></h2>
            <div class="rating_success"></div>
            <% if @rate %>
              <span class="total-star">
                <%= "%.1f" % @rate %> <i class="fa fa-star"></i>
              </span>
            <% end %>
            <% if logged_in? %>
              <div class="stars">
                <%= form_for :rating, url: ratings_path, method: :post, remote: true do |rating| %>
                  <%= rating.hidden_field :product_id, value: @product.id %>
                  <% 5.times do |rate| %>
                    <%= rating.radio_button :rate, 5-rate, class: "star star-#{5-rate}", id: "star-#{5-rate}" %>
                    <label class="star star-<%= 5-rate %>" for="star-<%= 5-rate %>" title="star-<%= 5-rate %>"></label>
                  <% end %>
                  <%= rating.submit name: "star_button", class: "star_button" %>
                <% end %>
              </div>
            <% else %>
              <%= t "rating_login" %>
              <%= link_to t("login"), login_path,
                {remote: true, data: {toggle: "modal", backdrop: "static", keyboard: "false", target: "#login"}} %>
            <% end %>
            <p>
              <strong><%= t ".price" %>: </strong>
              <%= number_to_currency @product.price, unit: t("vnd"),
              precision: 0, format: "%n %u" %>
            </p>
            <% if @product.screen %>
              <p><strong><%= t ".ram" %></strong>: <%= @product.RAM %></p>
              <p><strong><%= t ".screen" %></strong>: <%= @product.screen %></p>
              <p><strong><%= t ".hard_disk" %></strong>: <%= @product.hard_disk %></p>
            <% end %>
            <div class="product-btns">
              <button class="primary-btn add-to-cart">
                <i class="fa fa-shopping-cart"></i> <%= t "add_to_cart" %>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="product-tab">
            <ul class="tab-nav">
              <li class="active">
                <%= link_to t("description"), "#tab1", data: {toggle: "tab"} %>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
              <p>
                <%= @product.describe %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
