<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#"><%= t "home" %></a></li>
      <li><a href="#"><%= t "product" %></a></li>
      <li><a href="#"><%= t "category" %></a></li>
    </ul>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="product product-details clearfix">
        <div class="col-md-6">
          <div id="product-main-view">
            <div class="product-view">
              <%= image_tag @product.picture %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-body">
            <div class="product-label">
              <span><%= t "new" %></span>
            </div>
            <h2 class="product-name"><%= @product.name %></h2>
            <div>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o empty"></i>
              </div>
              <a href="#"><%= t "review_add" %></a>
            </div>
            <p><strong><%= t "availability" %></strong><%= t "in_stock" %></p>
            <p><strong><%= t "brand" %></strong><%= t "e_shop" %></p>
            <p><%= @product.describe %></p>
            <div class="product-options">
            </div>
            <div class="product-btns">
                <div class="qty-input">
                  <span class="text-uppercase"><%= t "qty" %></span>
                  <input class="input" type="number">
                </div>
                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i><%= t "add_to_cart" %></button>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="product-tab">
            <ul class="tab-nav">
              <li class="active"><a data-toggle="tab" href="#tab1"><%= t "description" %></a></li>
              <li><a data-toggle="tab" href="#tab1"><%= t "detail" %></a></li>
              <li><a data-toggle="tab" href="#tab2"><%= t "review" %></a></li>
            </ul>
            <div class="tab-content">
              <div id="tab1" class="tab-pane fade in active">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<p class="comments"> Comments: </p>
<%= render @comments %>
<hr />
<div class="comment-form">
  <%= render "shared/comment_form", product: @product, comment: @comment %>
</div>
