<footer id="footer" class="section section-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer">
          <div class="footer-logo">
            <%= link_to image_tag("logo.png", :alt => t("rss_feed")), root_path %>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer">
          <h3 class="footer-header"><%= t "address" %></h3>
          <b><%= t "address_content" %></b>
        </div>
      </div>
      <div class="clearfix visible-sm visible-xs"></div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer">
          <h3 class="footer-header"><%= t "customer_sevice" %></h3>
          <ul class="list-links">
            <li>
              <%= link_to t("about"), about_path %>
            </li>
            <li>
              <%= link_to t("contact"), contact_path %>
            </li>
            <li>
              <%= link_to t("help"), help_path %>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="footer footer-last">
          <h3 class="footer-header"><%= t "support_custome" %></h3>
          <ul class="list-links">
            <li>
              <span class="w-100"><%= t "truong" %></span>
              <%= link_to "tel:0976767676;", class: "w-phone" do %>
                <i class="fa fa-phone"></i> <%= t "phone_one" %>
              <% end %>
            </li>
            <li>
              <span class="w-100"><%= t "ngoc" %></span>
              <%= link_to "tel:0981234567;", class: "w-phone" do %>
                <i class="fa fa-phone"></i> <%= t "phone_two" %>
              <% end %>
            </li>
            <li>
              <span class="w-100"><%= t "chi_anh" %></span>
              <%= link_to "tel:0988888888;", class: "w-phone" do %>
                <i class="fa fa-phone"></i> <%= t "phone_three" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="footer-copyright">
          <%= t "copy_right" %>
        </div>
      </div>
    </div>
  </div>
</footer>
