<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | SHOP-NT</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin/admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "admin/admin", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>
  <% if !logged_in_admin? %>
    <body class="login">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <%= yield %>
    </body>
  <% else %>
    <body class="nav-md">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= render "layouts/header_admin" %>
    </body>
  <% end %>
</html>
