<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | SHOP-NT</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin/admin", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "admin/admin", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>
  <body class="nav-md">
    <%= render "layouts/header_admin" %>
  </body>
</html>
